
.container {
    width: 80%;
    height: 1000px;
    margin: auto;
    padding-top: 10%;
}

.main_section {
    width: 60%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.52);
    border-radius: 20px;
    margin: auto;
    display: flex;
    padding: 10px;
    box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
}

.left_block {
    height: 90%;
    width: 50%;
    margin: auto;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.right_block {
    height: 90%;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.left_top {
    height: 45%;
    width: 100%;
    background-color: #ff6f7c;
    border-radius: 20px;
    margin: auto;
    text-decoration: none;
}

.left_bottom {
    height: 45%;
    width: 100%;
    background-color: #fcc45f;
    border-radius: 20px;
    margin: auto;
    text-decoration: none;
}

.right_top {
    height: 45%;
    width: 100%;
    background-color: #84b7ff;
    border-radius: 20px;
    margin: auto;
    text-decoration: none;
}

.right_bottom {
    height: 45%;
    width: 100%;
    background-color: #9bf1de;
    border-radius: 20px;
    margin: auto;
    text-decoration: none;
}

.p_choises {
    color: white;
    font-family: Luminari, fantasy;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    font-size: 17px;
    font-weight: revert;
    background: #00000042;
    padding: 20px;
}

.img_train {
    margin: auto;
    text-align: center;
}

body {
    background: #A4DADA;
}

.glow-button {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 2% 80%;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    width: 10%;
}

.glow-button:hover {
    box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
    color: #F137A6;
}

.header_fix {
    height: 100px;
    background-color: #FF6B6B;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 20px #00ffff9e;
}

.option_header {
    align-content: end;
    display: flex;
    width: 20%;
    height: 50px;
    margin-left: 78%;
    margin-top: 1%;
    padding: 5px;
    justify-content: end;

}

.img_header {
    width: 35px;
    height: 35px;
}