
.container {
    width: 80%;
    height: 1000px;
    margin: auto;
    padding-top: 10%;
}

.main_section {
    width: 60%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.52);
    border-radius: 20px;
    margin: auto;
    display: flex;
    padding: 10px;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.4)
}

.left_block {
    height: 95%;
    width: 50%;
    margin: auto;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.right_block {
    height: 95%;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.left_top {
    position: relative;
    height: 47%;
    width: 95%;
    border-radius: 20px;
    margin: auto;
    text-decoration: none;
    background-image: url("/static/Trainer/img/fortr1.png");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.text_cards {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #fef2d4;;
    height: 75px;
    font-size: 19px;
    font-weight: 1000;
    text-align: center;
}


.left_bottom {
    position: relative;
    height: 47%;
    width: 95%;
    border-radius: 20px;
    margin: auto;
    text-decoration: none;
    background-image: url("/static/Trainer/img/fortr2.png");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.left_bottom .text_cards {
    background-color: rgb(207, 231, 255);
}

.right_top {
    position: relative;
    height: 47%;
    width: 95%;
    border-radius: 20px;
    margin: auto;
    text-decoration: none;
    background-image: url("/static/Trainer/img/fortr3.png");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.right_top .text_cards {
    background-color: rgb(206, 252, 225);
}

.right_bottom {
    position: relative;
    height: 47%;
    width: 95%;
    border-radius: 20px;
    margin: auto;
    text-decoration: none;
    background-image: url("/static/Trainer/img/fortr4.png");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.right_bottom .text_cards {
    background-color: rgb(246, 211, 255);
}

body {
    background: #DCDDDF url(https://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
}

.glow-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    border-radius: 45px;
    margin: 40px 0px 40px 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.glow-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}

.header_fix {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000091;
    z-index: 99;
}

.option_header {
    align-content: end;
    display: flex;
    width: 20%;
    height: 50px;
    margin-left: 78%;
    margin-top: 1%;
    padding: 5px;
    justify-content: end;

}

.p_header {
    color: white;
    text-shadow: 1px 1px 2px black;
}