{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose method of training</title>
    <link rel="stylesheet" href="{% static 'Trainer/css/trainer_choise.css' %}">
</head>
<body>
<header class="header_fix">
    <div class="option_header">
        {% if user.is_authenticated %}
            <a style="text-decoration: none" href="{% url 'logout-user' %}?next={{ request.path }}">
                <p class="p_header">Log Out</p>
                <hr>
            </a>
        {% else %}
            <a style="text-decoration: none" href="{% url 'login-user' %}?next={{ request.path }}">
                <p class="p_header">Sign In</p>
                <hr>
            </a>
        {% endif %}
    </div>
</header>
<div class="container">
    <div class="main_section">
        <div class="left_block">
            <a href="{% url 'first_training' %}" class="left_top">
                <div class="text_cards">
                    <p class="p_choises">Training by flashcard</p>
                </div>


            </a>
            <a href="#" class="left_bottom">
                <div class="text_cards">
                    <p class="p_choises">Translate from English to Russian</p>
                </div>

            </a>

        </div>
        <div class="right_block">
            <a href="#" class="right_top">
                <div class="text_cards">
                    <p class="p_choises">Translate from Russian to English</p>
                </div>

            </a>
            <a href="#" class="right_bottom">
                <div class="text_cards">
                    <p class="p_choises">Insert the missing word</p>
                </div>

            </a>

        </div>
    </div>
    <a href="{% url 'main_page' %}" class="glow-button"><p style="margin-top: 15px; text-align: center">← Return</p>
    </a>
</div>
</body>
</html>