
{% load static %}
<!DOCTYPE html>

<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Вход в личный кабинет</title>
    <link rel="stylesheet" href="{% static 'account/css/login_user.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="title">
        Форма входа
    </div>
<form method="post">
    {% csrf_token %}
    <div class="field">
        <input type="text" id="id_username" name="username" required value="+7">
        <label>Введите номер телефона</label>
    </div>
    <div class="field">
        <input type="password" id="id_password" name="password" required>
        <label>Пароль</label>
    </div>
    <div class="field">
        <input type="submit" value="Вход">
    </div>
    <div class="signup-link">
        Нет аккаунта?
        <br>
        <a href="{% url 'create-user' %}">Зарегистрируйтесь здесь</a>
    </div>
</form>
</div>
</body>
</html>