{% load static %}
<!DOCTYPE html>

<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Вход в личный кабинет</title>
    <link rel="stylesheet" href="{% static 'account/css/login_user.css' %}">
</head>
<body>

<div class="container">
    <section id="content">
        <form method="post">
            {% csrf_token %}
            <h1>Login Form</h1>
            <div>
                <input type="text" id="id_username" name="username" required value="+7">
            </div>
            <div>
                <input type="password" id="id_password" name="password" required>
            </div>
            <div>
                <input type="submit" value="Log in"/>
                <a href="{% url 'create-user' %}">Register</a>
            </div>
        </form>
    </section>
</div>

</body>
</html>