{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> Регистрация</title>
    <link rel="stylesheet" href="{% static 'account/css/create_user.css' %}">
</head>
<body>


<div class="container">
    <section id="content">
        <form method="post">
            {% csrf_token %}
            <h1>Registration Form</h1>
            <div>
                <input placeholder="Phone number" type="text" id="phone-input" name="phone" class="form-control">
                {% if form.phone.errors %}
                    <div class="error-message">{{ form.phone.errors }}</div>
                {% endif %}
            </div>
            <div>
                <input placeholder="password" type="text" id="phone-input " name="password" class="form-control">
                {% if form.password1.errors %}
                    <div class="error-message">{{ form.password1.errors }}</div>
                {% endif %}
            </div>
            <div>
                <input type="submit" value="Register"/>
            </div>
        </form>
    </section>
</div>
<section id="contentEr">
    <img class="img_contentEr" src="{% static 'account/img/pin.png' %}" alt="">
    <li>The password must consist of a minimum of 6 characters</li>
    <li>The password must contain at least one digit</li>
</section>


{#<div class="container">#}
{#    <div class="title">Форма Регистрации</div>#}
{#    <div class="content">#}
{#        <form method="post">#}
{#            {% csrf_token %}#}
{#            <div class="user-details">#}
{#            <div class="input-box">#}
{#                    <span class="details">Номер телефона</span>#}
{#                    <input type="text" id="phone-input" name="phone" class="form-control">#}
{#                    {% if form.phone.errors %}#}
{#                        <div class="error-message">{{ form.phone.errors }}</div>#}
{#                    {% endif %}#}
{#                </div>#}
{#                <div class="input-box">#}
{#                    <span class="details">Пароль</span>#}
{##}
{#                    <input type="text" id="phone-input" name="password" class="form-control">#}
{#                    {% if form.password1.errors %}#}
{#                        <div class="error-message">{{ form.password1.errors }}</div>#}
{#                    {% endif %}#}
{#                    <li>Пароль должен состоять из минимум 6 символов</li>#}
{#                    <li>Пароль должен содержать хотя бы одну цифру</li>#}
{#                    <hr>#}
{##}
{#                </div>#}
{#            </div>#}
{#            <div class="button">#}
{#                <input type="submit" value="Регистрация">#}
{#            </div>#}
{#            <div class="back-to-shop"><a href="{% url 'main_page' %}">&leftarrow;<span class="text-muted">Вернуться в магазин</span></a>#}
{#            </div>#}
{#        </form>#}
{##}
{#    </div>#}
{#</div>#}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Получаем элемент поля телефона по его ID
        var phoneInput = $('#phone-input');

        // При изменении значения поля телефона
        phoneInput.on('change', function () {
            var currentValue = phoneInput.val();

            // Проверяем, содержит ли текущее значение код страны '+7'
            if (currentValue.indexOf('+7') === -1) {
                // Если не содержит, добавляем код страны в начало
                phoneInput.val('+7' + currentValue);
            }
        });
    });
</script>

</body>
</html>