{
%
load
static
%
}
.main_section {
    width: 90%;
    max-height: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 15% auto;
}

.first_block {
    backdrop-filter: blur(4px);
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    min-width: 40%;
    align-self: self-start;
    box-shadow: 5px 5px 10px white;
}

.second_block {
    backdrop-filter: blur(4px);
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    min-width: 40%;
    align-self: flex-end;
    box-shadow: 5px 5px 10px white;
}

.f_word {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 5px 3px 0px black;
}

.s_word {
    color: #FF4F00;
    text-shadow: 1px 1px 1px black;
}

.t_word {
    color: white;
    text-shadow: 2px 2px 1px black;
}

.link-button {
    background-color: #FF4F00;
    padding: 15px;
    border-radius: 20px;
    width: 40%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    box-shadow: 1px 1px 2px black;
    text-shadow: 1px 1px 2px black;
}

.header_fix {
    height: 100px;
    background-color: #0000008c;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.option_header {
    align-content: end;
    display: flex;
    width: 20%;
    height: 50px;
    margin-left: 78%;
    margin-top: 1%;
    padding: 5px;
    justify-content: end;

}

.img_header {
    width: 35px;
    height: 35px;
}
