.table_price {
  border-collapse: collapse;
  border-left: 3px solid #F79361;
  border-right: 3px solid #F79361;
  border-bottom: 3px solid #F79361;
  font-family: "Lucida Grande", sans-serif;
 }
.table_price caption {
  background: #F79361;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
  color: white;
  font-family: "Roboto Slab",serif;
  font-style: normal;
  font-size: 26px;
  text-align: center;
  margin: 0;
}
.table_price td, .table_price th {
  padding: 10px;
}
.table_price th {
  text-align: left;
  font-size: 18px;
}
.table_price tr:nth-child(2n) {
  background: #E5E5E5;
}
.table_price td:last-of-type {
  text-align: center;
}

.new_word_but{
  background: #F79361;
  box-shadow: 2px 2px 0 0 #a22800;
  max-width: 250px;
  margin: 20px;
  padding: 20px;
  height: 20px;
  border-radius: 10px;
}
.new_word_but_option{
  background: #F79361;
  box-shadow: 2px 2px 0 0 #a22800;
  max-width: 150px;
  margin: 20px;
  height: 48px;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
}
.new_word_but_option p {
  font-size: 12px;
  font-weight: bold;
}
.new_word_but_option_delete{
  background: #F79361;
  box-shadow: 2px 2px 0 0 #a22800;
  max-width: 150px;
  margin: 20px;
  height: 48px;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
}
.new_word_but_option_delete p {
  font-size: 12px;
  font-weight: bold;
}
.container {
    width: 80%;
    margin: 0 auto; /* Горизонтальное выравнивание по центру */
    transform: translateX(30%); /* Коррекция вертикального выравнивания */
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

.modal-content {
    text-align: center;
}

.modal button {
    margin: 10px;
}
