@font-face {
    font-family: 'agbalumo';
    src: url("/static/WordBase/fonts/Agbalumo-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'lobster';
    src: url("/static/WordBase/fonts/Lobster-Regular.ttf") format('truetype');
}


.new_word_but_option {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.new_word_but_option:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}



.new_word_but_option_delete {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.new_word_but_option_delete:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}



.container {
    width: 100%;
    margin-top: 5%;
}

.img_plus {
    margin-left: 50%;

}

.modal {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

.modal-content {
    text-align: center;
}

.modal button {
    margin: 10px;
}

.menu_card {
    width: 12%;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom-left-radius: 20px;
    align-items: center;
    flex-direction: column;
    background: #d6eaf8;
    padding: 5px;
}

.card_aria {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}

.card_list_word {
    width: 17%;
    border: 1px solid black;
    margin: 10px;
    min-height: 30%;
    border-radius: 15px;
    padding: 5px;

}

.text_en_card {
    text-align: center;
    margin-top: 15px;
    font-family: agbalumo, lobster;
    font-size: 25px;
    letter-spacing: 2px;
}

.word-checkbox {
    margin-left: 90%;
}

.img_edit {
    width: 30px;
    height: 30px;
    margin-left: 85%;
}

.link_return {
    text-decoration: none;
    font-family: agbalumo, lobster;
    letter-spacing: 3px;
    color: black;
}