{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>App to lear English</title>
    <link rel="stylesheet" href="{% static 'WordBase/css/word_list.css' %}">

</head>
<body>
    <div class="card_aria">
        <div style="width: 100%">
            <a class="img_plus" href="{% url 'create_base' %}">
                <img style="width: 70px; height: 70px;" src="{% static 'WordBase/img/plus.png' %}" alt="">
            </a>
        </div>
        {% if translate %}

            {% for word in translate %}
                {% if word.statys.id == 1 %}

                    <div class="card_list_word" style="background-color: rgba(0,0,255,0.35)">
                        <input type="checkbox" class="word-checkbox" data-id="{{ word.id }}">
                        <div class="text_en_card">{{ word.english_word }}</div>
                        <hr>
                        <div class="text_en_card">{{ word.russian_word }}</div>
                        <div>
                            <a href="{% url 'detail_word' pk=word.pk %}">
                                <img class="img_edit" src="{% static 'WordBase/img/correct.png' %}">
                            </a>
                        </div>
                    </div>


                {% elif word.statys.id == 2 %}
                    <div class="card_list_word" style="background-color: rgba(0,128,0,0.35)">
                        <input type="checkbox" class="word-checkbox" data-id="{{ word.id }}">
                        <div class="text_en_card">{{ word.english_word }}</div>
                        <hr>
                        <div class="text_en_card">{{ word.russian_word }}</div>
                        <div>
                            <a href="{% url 'detail_word' pk=word.pk %}">
                                <img class="img_edit" src="{% static 'WordBase/img/correct.png' %}">
                            </a>
                        </div>
                    </div>

                {% elif word.statys.id == 3 %}
                    <div class="card_list_word" style="background-color: rgba(128,128,128,0.35)">
                    <input type="checkbox" class="word-checkbox" data-id="{{ word.id }}">
                    <div class="text_en_card">{{ word.english_word }}</div>
                    <hr>
                    <div class="text_en_card">{{ word.russian_word }}</div>
                    <div>
                        <a href="{% url 'detail_word' pk=word.pk %}">
                            <img class="img_edit" src="{% static 'WordBase/img/correct.png' %}">
                        </a>
                    </div>

                {% endif %}
            {% endfor %}
        </div>
        {% else %}
            <h2>Your Dictionary</h2>
        {% endif %}
    </div>
    <div class="menu_card">
        <button id="add-to-trainer-button" class="new_word_but_option" data-button-value="2">
            <p>Add to the workout</p>
        </button>
        <button id="finish-learning-button" class="new_word_but_option" data-button-value="3">
            <p>Finish studying</p>
        </button>
        <button id="delete-selected-words-button" class="new_word_but_option_delete">
            <p>Delete word</p>
        </button>
        <a class="link_return" href="{% url 'main_page' %}">←To main page</a>
    </div>

    <div id="confirmDeleteModal" class="modal">
        <div class="modal-content">
            <p>Are you sure that you want delete?</p>
            <button id="confirmDeleteButton">Yes</button>
            <button id="cancelDeleteButton">No</button>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".new_word_but_option");

        buttons.forEach(button => {
            button.addEventListener("click", function () {
                const buttonValue = this.getAttribute("data-button-value");
                const selectedWordIds = [];

                document.querySelectorAll(".word-checkbox:checked").forEach(checkbox => {
                    selectedWordIds.push(checkbox.getAttribute("data-id"));
                });

                // Получение CSRF-токена из куков
                const csrftoken = getCookie('csrftoken');

                // Отправка AJAX-запроса с CSRF-токеном
                $.ajax({
                    url: "/base/change_status/",  // Замените на ваш URL
                    method: "POST",
                    headers: {"X-CSRFToken": csrftoken},  // Установка CSRF-токена
                    data: {
                        selectedWordIds: selectedWordIds,
                        buttonValue: buttonValue
                    },
                    success: function (data) {
                        console.log(data);

                        // Перезагрузка страницы
                        location.reload();

                        // Снятие выделений с чекбоксов
                        $(".word-checkbox:checked").prop("checked", false);
                    }
                });
            });
        });

        // Функция для получения CSRF-токена из куков
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(";").shift();
        }
    });

</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButton = document.getElementById("delete-selected-words-button");
        const modal = document.getElementById("confirmDeleteModal");
        const confirmButton = document.getElementById("confirmDeleteButton");
        const cancelButton = document.getElementById("cancelDeleteButton");

        // Функция для получения CSRF-токена из куков
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(";").shift();
        }

        deleteButton.addEventListener("click", function () {
            modal.style.display = "block";
        });

        confirmButton.addEventListener("click", function () {
            modal.style.display = "none";

            // Здесь добавьте логику для сбора выбранных слов
            const selectedWordIds = [];
            document.querySelectorAll(".word-checkbox:checked").forEach(checkbox => {
                selectedWordIds.push(checkbox.getAttribute("data-id"));
            });

            if (selectedWordIds.length > 0) {
                // Отправка выбранных слов на удаление через AJAX
                const csrftoken = getCookie('csrftoken');
                $.ajax({
                    url: "/base/delete_word/",  // Замените на ваш URL для удаления слов
                    method: "POST",
                    headers: {"X-CSRFToken": csrftoken},
                    data: {selectedWordIds: selectedWordIds},
                    success: function (data) {
                        // Здесь вы можете обработать ответ от сервера после удаления
                        console.log(data);

                        // После успешного удаления скройте модальное окно
                        modal.style.display = "none";
                        location.reload();
                    }
                });
            }
        });

        cancelButton.addEventListener("click", function () {
            modal.style.display = "none";
        });
    });

</script>

</body>
</html>
