{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>App to learn English</title>
    <link rel="stylesheet" href="{% static 'WordBase/css/style.css' %}">

</head>

<body>
<header class="header_fix">
    <div class="option_header">
        {% if user.is_authenticated %}
            <a style="text-decoration: none" href="{% url 'logout-user' %}?next={{ request.path }}">
                <p class="p_header">Log Out</p>
                <hr>
            </a>
        {% else %}
            <a style="text-decoration: none" href="{% url 'login-user' %}?next={{ request.path }}">
                <p class="p_header">Sign In</p>
                <hr>
            </a>
        {% endif %}
    </div>
</header>
<div class="background_image"></div>
<div class="wrap">
    <button class="button">Start</button>
</div>
<div class="main_about">
    <p>Main App Functions</p>
</div>
<section class="about">

    <div id="w-node-_10e6ad86-ec25-7375-9d4c-fd10715d48cf-d95f7840" class="testimonial-card tilt-left"><img
            src="https://assets-global.website-files.com/636a6f81a287f5628189d717/63769449e36282d94dec5f64_green-flap.svg"
            loading="lazy" width="75" alt="" class="flap">
        <div style="font-weight: bold;" class="regular-text">Adding and Storing Words:</div>
        <hr style="width: 70px">
        <div class="_48px-h-sep"></div>
        <div class="bottom-div">
            <div class="regular-text _500">Easily add new English-Russian words to your personal vocabulary. Store them
                in one place for quick access, helping you expand your word bank.
            </div>
        </div>
    </div>

    <div id="w-node-_9d70fa71-1896-a457-2fe2-596cb7e64fc2-d95f7840" class="testimonial-card teal"><img
            src="https://assets-global.website-files.com/636a6f81a287f5628189d717/63769449827b104a5b5ad894_Group%20408.svg"
            loading="lazy" width="75" alt="" class="flap">
        <div style="font-weight: bold;" class="regular-text">Flashcard Training:</div>
        <hr style="width: 70px">
        <div class="_48px-h-sep"></div>
        <div class="bottom-div">
            <div class="regular-text _500">Prepare to master the Spanish language with interactive flashcards. Learn and
                review selected words through engaging flashcards that make the learning process enjoyable and
                effective.
            </div>

        </div>
    </div>

    <div id="w-node-d4df9ac4-7f90-1852-5fd8-9d3aecdce2ab-d95f7840" class="testimonial-card yellow tillt-right"><img
            src="https://assets-global.website-files.com/636a6f81a287f5628189d717/63769449e362822d7eec5f63_yellow-flap.svg"
            loading="lazy" width="75" alt="" class="flap">
        <div style="font-weight: bold;" class="regular-text">Custom Tests and Progress Evaluation:</div>
        <hr style="width: 70px">
        <div class="_48px-h-sep"></div>
        <div class="bottom-div">
            <div class="regular-text _500">Elevate your English skills by creating custom tests and assignments based on
                your vocabulary. Assess your progress and track your achievements to help you reach your linguistic
                goals.
            </div>

        </div>
    </div>
</section>
<div class="main_about">
    <p>Language Learning</p>
</div>
<section class="cards">
    <div class="white_box right">
        <div class="color_box">
            <p class="name_box">VOCABULARY NOTEBOOK</p>
            {% if user.is_authenticated %}
            	<a href="{% url 'list_base' %}?next={{ request.path }}" class="border-btn color-two">To word</a>
            {% else %}
                <a href="{% url 'login-user' %}?next={{ request.path }}" class="border-btn color-two">To word</a>
            {% endif %}


        </div>
    </div>
    <div class="white_box left">
        <div class="color_box">
            <p class="name_box">FLASHCARD PRACTICE</p>
            {% if user.is_authenticated %}
            	<a href="{% url 'trainer_choise' %}?next={{ request.path }}" class="border-btn color-two">To training</a>
            {% else %}
                <a href="{% url 'login-user' %}?next={{ request.path }}" class="border-btn color-two">To training</a>
            {% endif %}

        </div>
    </div>
</section>
</body>
</html>